# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.crf
*.uvguix.*
MDK-ARM/List/
MDK-ARM/Obj/
MDK-ARM/DebugConfig/
*.uvoptx
Action_User/gunControl.h~RF5478d6f.TMP
Action_User/gunControl.h~RF5644a3f.TMP
Action_User/robot.h~RF6f14199.TMP
Action_User/gunControl.h~RF6f141b8.TMP
Action_User/gunControl.h~RF1cae8a6.TMP
Action_User/robot.h~RF1cae8c6.TMP
Action_User/adc.h~RF53b9faa.TMP
MDK-ARM/STM32F407-ACTION.uvguix.Administrator
MDK-ARM/STM32F407-ACTION.uvprojx
MDK-ARM/STM32F407-ACTION.uvguix.Administrator
MDK-ARM/STM32F407-ACTION.uvprojx
